<!doctype html>
<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>createam sample app</title>
</head>
<body>


<p>{{message}}</p>
<p>{{time}}</p>
<br/>
<code>{{tunnels}}</code>
</body>
</html>