<configuration>
    <appender name="static-appender" class="io.github.createam.ngrok.TestLogsAppender" />

    <root level="trace">
        <appender-ref ref="static-appender" />
    </root>

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <logger name="org.apache.tomcat.util" level="OFF"/>-->


<!--    <root level="debug">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->
</configuration>