name: CI on macos-latest

on:
  push:
    branches: [ main, development, tests_fixes ]
  pull_request:
    branches: [ main ]

jobs:
  test-on-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Silent install main project
        run: mvn --batch-mode --no-transfer-progress install -Dmaven.test.skip=true

      - name: Add ngrok auth token application.properties
        run: echo "ngrok.authToken=${{ secrets.NGROK_AUTH_TOKEN }}" >> .github/test-app/src/test/resources/application.properties

      - name: Run automation tests with latest ngrok-spring-boot-starter version on test-app
        working-directory: ./.github/test-app/
        run: mvn --batch-mode --no-transfer-progress test



