name: CI on windows-latest

on:
  push:
    branches: [ main, development, tests_fixes ]
  pull_request:
    branches: [ main ]

jobs:
  test-on-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Silent install main project
        run: mvn --batch-mode --no-transfer-progress install -DskipTests

      - name: Run automation tests with latest ngrok-spring-boot-starter version on test-app
        working-directory: ./.github/test-app/
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        run: mvn --batch-mode --no-transfer-progress test